.home-wrapper {
    width: 80%;
    margin: auto;
}

.intro {
    text-align: center;
    line-height: 2rem;
}

.intro h1 {
    margin-top: 5rem;
    font-size: 3rem;
    color: #f8f8f8;
}

.projects-wrapper {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-card {
    width: 23%;
    border-radius: 6px;
    color: white;
    background: #4b135346;
    margin-bottom: 2rem;
}

.project-details {
    padding: 0 1rem;
}

.nft-img {
    width: 50%;
    border-radius: 6px;
}

.project-details a {
    text-decoration: none;
    color: inherit;
}

.project-details p {
    word-wrap: break-word;
}

.project-details p span {
    color: #aaaaaa;
}

.links ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.links ul li {
    display: inline-block;
}