.navbar {
    width: 100%;
}

.logo {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.submit-btn {
    padding: 0.7rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem;
    background: #4c1353;
    color: white;
    transition: 0.3s;
}
.submit-btn:hover {
    background: rgba(232, 56, 255, 0.365);
    transition: 0.3s;
}

