.navbar {
    width: 100%;
    display: inline;
}

.logo {
    margin: 2rem auto 0 auto;
    width: 10rem;
}

.logo img {
    width: 10rem;
}

.beta {
    color: rgb(230, 230, 230);
    background-color: rgb(66, 66, 66);
    border-radius: 6px;
    padding: 0.2rem 0.6rem;
    width: fit-content;
    margin-top: 0.2rem;
    margin-left: 70%;
    font-size: 0.7rem;
}

.submit-btn {
    padding: 0.7rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 2rem;
    background: #4c1353;
    color: white;
    transition: 0.3s;
}
.submit-btn:hover {
    background: rgba(232, 56, 255, 0.365);
    transition: 0.3s;
}

